extends ../layout

block content
    h1 Add New Product
    form(action="/product/add",method="post")
        .form-group
            label(for="code") Product Code
            input#code(type="text", class="form-control", name="code")
        .form-group
            label(for="size") Product Size
            input#size(type="text", class="form-control", name="size")
        .form-group
            label(for="price") Product Price
            input#price(type="text", class="form-control", name="price")
        .form-group
            label(for="stuff") Product Stuff
            input#stuff(type="text", class="form-control", name="stuff")
        input(type="submit", class="btn btn-info")
    