extends ../layout

block content
    h1 Edit Product
    form(action="/product/edit/"+product._id,method="post")
        .form-group
            label(for="code") Product Code
            input#code(type="text", class="form-control", name="code",value=product.code)
        .form-group
            label(for="size") Product Size
            input#size(type="text", class="form-control", name="size",value=product.size)
        .form-group
            label(for="price") Product Price
            input#price(type="text", class="form-control", name="price",value=product.price)
        .form-group
            label(for="stuff") Product Stuff
            input#stuff(type="text", class="form-control", name="stuff",value=product.stuff)
        input(type="submit", class="btn btn-info")
    